.column-mix-row-6_5 {
    grid-column: 8 / 5;
    grid-row: 5 / 3;
    justify-content: center;
    align-items: center;
}

.column-mix-row-3_6 {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
    justify-content: center;
    align-items: center;
}

.column-mix-row-5_6 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
}

.column-mix-row-5_3 {
    grid-column: 5 / 8;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
}
