  .arrow-up-l-60 {
      transform: rotate(-60deg);
      transform-origin: left right;
      margin: 10px 0px 10px 60px;
  }

  .arrow-up-r-60 {
      transform: rotate(60deg);
      transform-origin: left right;
      margin: 10px 60px 10px 0px;
  }

  .arrow-up-l-25 {
      transform: rotate(-25deg);
      transform-origin: left right;
      margin: 10px 0px 20px 50px;
  }

  .arrow-up-r-25 {
      transform: rotate(-155deg);
      transform-origin: left right;
      margin: 10px 50px 20px 0px;
  }

  .arrow-up-l-35 {
      transform: rotate(-35deg);
      transform-origin: left right;
      margin: 10px 0px 20px 50px;
  }

  .arrow-up-r-35 {
      transform: rotate(-145deg);
      transform-origin: left right;
      margin: 10px 50px 20px 0px;
  }

