:root {
  --bg: #f5f7fb;
  --sidebar-bg: #ffffff;
  --primary: #295fae;
  --primary-soft: #7fa4da;
  --primary-light: #dce8ff;
  --text-main: #111827;
  --text-soft: #6b7280;
  --card-bg: #ffffff;
  --border-soft: #e5e7eb;
  --status-working: #16a34a;
  --status-stop: #00000077;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}


body {
  background: var(--bg);
  color: var(--text-main);
}

.app {
  display: flex;
  min-height: 100vh;
}

/* ------------ SIDEBAR ------------ */
.sidebar {
  width: 260px;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--border-soft);
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 24px 24px 0;
}

.logo-block {
  margin: 40px 20px ;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.logo span {
  color: var(--primary);
}

.logo-sub {
  font-size: 11px;
  color: var(--text-soft);
  margin-top: 4px;
}

.nav-text {
  margin-top: 60px;
}

.nav-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-soft);
  margin-bottom: 10px;
  margin-top: 24px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 13px;
  color: var(--text-soft);
  cursor: pointer;
  margin-bottom: 4px;
  transition: background 0.15s ease, color 0.15s ease;
}

.nav-item:hover {
  background: #eef3ff;
}

.nav-item.active {
  background: var(--primary-light);
  color: var(--primary);
  font-weight: 600;
}

.nav-icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

