:root {
  --bg: #f5f7fb;
  --sidebar-bg: #ffffff;
  --primary: #295fae;
  --primary-soft: #7fa4da;
  --primary-light: #dce8ff;
  --text-main: #111827;
  --text-soft: #6b7280;
  --card-bg: #ffffff;
  --border-soft: #e5e7eb;
  --status-working: #16a34a;
  --status-stop: #00000077;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}


body {
  background: var(--bg);
  color: var(--text-main);
}

.bg-img {
    background:
        linear-gradient(rgba(185, 185, 185, 0.45), rgba(85, 85, 85, 0.45)),
        url("../Img/aisin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.app {
  display: flex;
  min-height: 100vh;
}

/* //////////////////////////////////  NAVBAR  ////////////////////////////////// */

.sidebar {
  width: clamp(60px, 30vw, 110px);                 
  height: 100vh;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--border-soft);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 24px 24px 0;
  transition: width 0.50s ease;
  overflow: hidden;
}

.sidebar:hover {
    width: clamp(100px, 30vw, 210px);      
}

.logo-block {
  margin: 40px 25px 40px 25px;
}

.logo-container {
    width: 40px;   
    height: 100px;  
    display: flex;
    pointer-events: none; 
    justify-content: center;
    align-items: center;
    transition: all 0.50s ease;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.sidebar:hover .logo-container {
    width: 140px;   
    height: 100px;  
    display: flex;
    pointer-events: none; 
    justify-content: center;
    align-items: center;
    transition: all 0.50s ease;
}

.logo span {
  color: var(--primary);
}

.logo-sub {
  font-size: 11px;
  color: var(--text-soft);
  margin-top: 4px;
}

.hr-nav {
  opacity: 0.3; 
}

.sidebar:hover .hr-nav{
  opacity: 0;
}

.nav-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-soft);
  margin-bottom: 10px;
  margin-top: 24px;
}

.nav-item:hover {
  background: #eef3ff;
}

.nav-item.active {
  background: var(--primary-light);
  color: var(--primary);
  font-weight: 600;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.nav-item {
  display: flex;
  align-items: center;
  border-radius: 50%;  
  gap: 12px;
  padding: 10px 10px;
  border-radius: 999px;
  font-size: 13px;
  color: var(--text-soft);
  cursor: pointer;
  margin-bottom: 6px;
  transition: all 0.50s ease;
  white-space: nowrap;
}


.sidebar:hover .nav-item {
  color: var(--text-soft);        
}

.nav-icon {
  width: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
}


.nav-title,
.nav-item span {
  opacity: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.50s ease;
}

.sidebar:hover .nav-title,
.sidebar:hover .nav-item span {
  opacity: 1;
  width: auto;
}

.nav-item.active {
  background: var(--primary-light);
  color: var(--primary);  
  font-weight: 600;
}

.sidebar:hover .nav-item.active {
  color: var(--primary);
}
