.card-container {
    display: flex;
    flex-direction: row;  
    gap: 10px;           
    margin-top: 5px;
    flex-wrap: wrap;     
}

.card {
    color: #ffffff;
    width: 200px;
    height: 180px;
    border-radius: 12px;        
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.247);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    margin: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.253); 
}


.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card-bg {
    width: 100%;
    min-height: 300px;

    background:
        linear-gradient(rgba(32, 32, 32, 0.185), rgba(16, 0, 85, 0.178)), 
        url("../Img/aisin.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.45); 
}


