.room-layout-fac {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: flex-end;
}

.factory-container {
    position: relative;
    max-width: 820px;     
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    flex-shrink: 0;
}

.vendor-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
    justify-content: flex-start;
    position: relative;  
    width: fit-content;
    margin-left: 5%;
    flex-shrink: 0;
}

.factory-img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;  
    display: block;
    align-self: end;
}

.vendor-img {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;  
    display: block;
    align-items: flex-start;
}

.hr-fty {
    margin-top: 10px;
    opacity: 0.3; 
}

.title-fty{
    margin-top: 10px;    
}


.card-container {
    flex-direction: column;
    gap: 10%;  
    width: 60%;   
    justify-content: flex-end;
    align-self: center;
    
}

.card-vendor-container {
    flex-direction: column;
    gap: 10%;  
    width: 60%;   
    justify-content: flex-end;
    align-self: self-start;
    margin-top: 0;   
}

.card {
    width: 22%;           
    aspect-ratio: 1 / 0.9;  
    max-width: 160px;       
    min-width: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: clamp(12px, 2.2vw, 18px);
    font-weight: bold;
    cursor: pointer;
    margin: 20px 40px 30px;
}

.card-qc {
    background: #ffbb3e;
    position: relative;   
    color: #fff;
    transform: translateX(100%) translateY(-5%);
}

.card-qc::after {
    content: "";
    position: absolute;
    left: 100%;              
    top: 50%;           
    transform: translateY(-50%);  
    width: 160px;
    height: 3px;
    background: #ffbb3e;
    border-radius: 2px;
}

.card-qc::before {
    content: "";
    position: absolute;
    left: calc(100% + 160px); 
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #ffbb3e;
    border-radius: 50%;
}

.card-pd {
    background: #3ea2ff;
    position: relative;   
    color: #fff;
    transform: translateY(-20%);
}

.card-pd::after {
    content: "";
    position: absolute;
    left: 100%;              
    top: 50%;           
    transform: translateY(-50%);  
    width: 160px;
    height: 3px;
    background: #3ea2ff;
    border-radius: 2px;
}

.card-pd::before {
    content: "";
    position: absolute;
    left: calc(100% + 160px); 
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #3ea2ff;
    border-radius: 50%;
}

.card-vd {
    background: #ff3e3e;
    position: relative;   
    color: #fff;
    transform: translateY(-50%);
}

.card-vd::after {
    content: "";
    position: absolute;
    top: 100%;             
    left: 50%;
    transform: translateX(-50%);
    width: 3px;            
    height: 80px;         
    background: #ff3e3e;
    border-radius: 2px;
}


.card-vd::before {
    content: "";
    position: absolute;
    top: calc(100% + 80px); 
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: #ff3e3e;
    border-radius: 50%;
}

.card:hover {
    outline: 0px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
}

.card:active {
    box-shadow:
        inset 8px 8px 14px rgba(0,0,0,0.35),
        inset -8px -8px 14px rgba(255,255,255,0.25);
}

.card-bg {
    width: 100%;
    min-height: 200px;
    background:
        linear-gradient(rgba(32, 32, 32, 0.185), rgba(16, 0, 85, 0.178)), 
        url("../Img/aisin.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(35px, 6vw, 60px);
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.45); 
}

@media (max-width: 1600px) {
    .room-layout-fac {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 1000px) {
    .room-layout-fac {
        flex-direction: column;
        align-items: center;
    }

    .factory-img {
        width: 85%;
        height: 85%;
        min-width: 190px;  
        min-height: 240px;  
        object-fit: cover;  
        object-position: left center;
    }

    .vendor-img {
        width: 85%;
        height: 85%;
        min-height: 150px;  
        min-width: 200px;  
    }
}

@media (max-width: 550px) {
    .room-layout-fac {
        flex-direction: column;
        align-items: center;
    }

    .factory-img {
        width: 85%;
        height: 85%;
        min-width: 190px;  
        min-height: 240px;  
        object-fit: cover;  
        object-position: left center;
    }

    .vendor-img {
        width: 85%;
        height: 85%;
        min-height: 150px;  
        min-width: 200px;  
    }

    .card-qc {
        transform: translateY(-30%) translateX(100%);
    }   
    .card-qc::after {  
        transform: translateY(-50%);  
        width: 70px;
    }

    .card-qc::before {
        left: calc(100% + 70px); 
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .card-pd {
        transform: translateY(-30%) translateX(10%);
    }   

    .card-pd::after {  
        transform: translateY(-50%);  
        width: 70px;
    }

    .card-pd::before {
        left: calc(100% + 70px); 
        transform: translate(-50%, -50%);
    }

    .card-vd {
        transform: translateY(-40%) translateX(10%);
    }   

    .card-vd::after {
        transform: translateX(-50%);       
        height: 60px;         
    }

    .card-vd::before {
        top: calc(100% + 60px); 
        transform: translateX(-50%);
    }


    .factory-container {
        width: 100%;
        height: 340px;
        margin-top: 10px;
    }

    .card-vendor-container {
        width: 100%;
        height: 100px;
        margin-top: 10px;
}

    .card-container {
        width: 70%;
        top: 65%;
    }

    .card {
        min-width: 80px;
        font-size: 14px;
        margin: 10px 5px 10px ;
    }
}