.house-container {
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    display: block;
}

.card-container {
    position: absolute;
    bottom: 30%;         
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    z-index: 10;
}


.card {
    width: 180px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px 18px rgba(0,0,0,0.25);
    cursor: pointer;
}



.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card-bg {
    width: 100%;
    min-height: 300px;

    background:
        linear-gradient(rgba(32, 32, 32, 0.185), rgba(16, 0, 85, 0.178)), 
        url("../Img/aisin.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.45); 
}


