.home-container {
    position: relative;
    width: 820px;     
    height: 550px;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.factory-img {
    max-width: 105%;
    max-height: 100%;
    object-fit: contain;  
    display: block;
    object-fit: cover; 
}


.hr-fty {
    margin-top: 10px;
    opacity: 0.3; 
}

.title-fty{
    margin-top: 10px;    
}


.card-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10%;      
    width: 60%;   
    justify-content: center;
}


.card {
    width: 22%;           
    aspect-ratio: 1 / 0.9;  

    max-width: 160px;       
    min-width: 140px;
    
    outline: 1.5px solid rgba(51, 51, 51, 0.034);

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #4b4b4b;
    font-size: clamp(12px, 2.2vw, 18px);
    font-weight: bold;

    box-shadow:
    inset 6px 6px 12px rgba(0,0,0,0.25),
    inset -6px -6px 12px rgba(255,255,255,0.35);
    
    cursor: pointer;
    transition: 0.2s ease;
}


.card:hover {
    transform: translateY(-6px);
    outline: 0px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
}

.card:active {
    box-shadow:
        inset 8px 8px 14px rgba(0,0,0,0.35),
        inset -8px -8px 14px rgba(255,255,255,0.25);
    transform: scale(0.97);
}


.card-bg {
    width: 100%;
    min-height: 200px;
    background:
        linear-gradient(rgba(32, 32, 32, 0.185), rgba(16, 0, 85, 0.178)), 
        url("../Img/aisin.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(35px, 6vw, 60px);
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.45); 
}



@media (max-width: 900px) {
    .room-layout-home {
        flex-direction: column;
        align-items: center;
    }

    .factory-img {
        width: 100%;
        height: 100%;
        min-height: 320px;  
        object-fit: contain;
        object-fit: cover;  
    }

    .home-container {
        width: 100%;
        height: 340px;
        margin-top: 10px;
    }

        .card-container {
        width: 70%;
        top: 65%;
    }

    .card {
        min-width: 80px;
        font-size: 14px;
    }
}